<html>
    <body>
        <link rel="stylesheet" href="style.css">
        <div class="content">
        <!------start-768px-menu---->
        <!--
                <div id="page">
                        <div id="header">
                            <a class="navicon" href="#menu-left"> </a>
                        </div>
                        <nav id="menu-left">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </nav>
                </div>
                -->
            <!------end-768px-menu---->
                <!---start-header---->
                <div class="header">
               <!---start-wrap---->
                    <div class="wrap">
                    <div class="header-left">
                        <div class="logo">
                            <a href="index.html"><img src="img/favicon-01.png" width="150px" height="75px"></a>
                        </div>
                        <h1 style="font-size: 2em; margin-top:2% ">SandCastle</h1>
                        <h2>{{TIME}}</h2>
                    </div>
                    <div class="header-right">
                        <!--
                            <div class="top-nav">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                </ul>
                            </div>
                        -->
                    <div class="sign-ligin-btns">
                        <ul>
                            
                            <li id="loginContainer"><a class="login" id="loginButton"><span>LOGIN</span></a>
                                 <div class="clear"> </div>
                                    <div id="loginBox">                
                                        <form id="loginForm">
                                            <fieldset id="body">
                                                <fieldset>
                                                    <label for="email">Email Address</label>
                                                    <input type="text" id="email">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="password">Password</label>
                                                    <input type="password" id="password">
                                                </fieldset>
                                                <label class="remeber" for="checkbox"><input type="checkbox" id="checkbox">Remember me</label>
                                                <input type="submit" id="login" value="login">
                                            </fieldset>
                                            <span><a href="#">Forgot your password?</a></span>
                                        </form>
                                    </div>
                                <!-- Login Ends Here -->
                            </li>
                            <li id="signupContainer"><a class="signup" id="signupButton"><span>SIGNUP</span></a>
                                 <div class="clear"> </div>
                                    <div id="signupBox">                
                                        <form id="signupForm">
                                            <fieldset id="signupbody">
                                                <fieldset>
                                                    <label for="email">Email Address <span>*</span></label>
                                                    <input type="text" id="signupemail">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="password">Choose Password <span>*</span></label>
                                                    <input type="password" id="signuppassword">
                                                </fieldset>
                                                 <fieldset>
                                                    <label for="password">Confirm Password <span>*</span></label>
                                                    <input type="password" id="signuppassword1">
                                                </fieldset>
                                                <input type="submit" id="signup" value="Register Now!">
                                            </fieldset>
                                        </form>
                                    </div>
                                <!-- Login Ends Here -->
                            </li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                </div>
                <!---728x90--->
                
                <div class="main">
                    <div class="wrap">
                    <div class="main_left">
                        <h2>{{FILE_NAME}}</h2>
                        <h3>{{HASH}}</h3>
                    </div>
                        <table class="tablecheck">
                            <tr>
                                <td>
                                    <p>{{SHORT_EXPLENATION}}</p>
                                </td>
                                <td>
                                    <img src="img/smileys.jpg" style="margin-left:70%;height: 320px; width: 520px;">	
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>

                    <center>
                    <textarea cols=150% style="background: black; height:20%; color:white" name="log_file"></textarea>
                </center>
                       <!-- <div class="buttons">
                            <div class="sign_up">
                                <a href="#">SIGN UP</a>
                            </div>
                            <div class="learn">
                                <a href="details.html" class="arrow_btn">LEARN MORE</a>
                            </div>
                                <div class="clear"> </div>
                        </div>-->
                        <!--
                <div class="main_right">
                            <span> </span>
                </div>
                <div class="clear"> </div>
                <!---//End-header---->
                <!--
                </div>
                -->
            </div>
        </div>
    </body>
</html>